.contentBlock {
  background-color: #232323;
  padding-bottom: 36px;
}

.inner {
  margin: 0 60px 0 60px;
}

.countMovies {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0 15px 0;
  text-align: left;
}

.countMovies > span {
  font-weight: 600;
}

.movieContainer {
  width: calc(100vw - 85px);
  min-width: 1113px;
  height: 100%;
  margin: 0 auto;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}