.textArea {
  border: 1px solid 'red';
  width: 100%;
  height: 230px;
  background: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 177px;
}

.textArea label {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.888889px;
  text-transform: uppercase;
  color: #F65261;
  opacity: 0.8;
  text-align: left;
  margin-bottom: 13px;
}

.textArea textarea {
  font-family: 'Montserrat', sans-serif;
  height: 197px;
  font-weight: 400;
  font-size: 20px;
  background: rgba(50, 50, 50, 0.948044);
  mix-blend-mode: normal;
  opacity: 0.8;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 18px;
  outline: none;
  resize: none;
}